nav{
    background-color: rgba(rgb(192, 52, 10), rgb(179, 95, 18), rgb(29, 175, 65), 0.7);
    height: 60px;
    width: 100%;

}

nav ul{
    float: right;
    margin-right: 40px;
    
}

nav ul li{
    margin: 20px 20px;
}

nav ul li a{
    color: white;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 2px;
    
}
a:hover{
    background: rgb(202, 113, 11);
    transition: .5s;
}